/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
@import "bootstrap";

/* ...
*= require_self
*= require_tree .
*/

/*=== color: #1ab5fe; =====*/

section {
   padding: 50px 70px; 
}

/*====== HEADINGS STYLES =======*/

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #4e4e4e;
	line-height: 22px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #fff;;
}
h1 {
	font-size: 46px;
	font-weight: 600;
	color: #EEEEEE;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	line-height: 26px;
}
h4 {
	font-size: 16px;
}


nav.navbar.navbar-inverse {
    margin-bottom: 0px;
    padding-bottom: 30px;
    background-color: #000;
    border-radius: 0;
}

.navbar .navbar-header .navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 50px;
    
}


.navbar .navbar-header .navbar-brand i {
    color: #029AE4;
    font-size: 30px;
}

.navbar .navbar-collapse .navbar-nav a {
    padding: 10px;
    margin-right: 30px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
}

.navbar .navbar-collapse .navbar-nav a:hover {
    background-color: #029AE4;
}

.navbar .navbar-collapse .navbar-nav .active a {
    background-color: #333;
}

/*===========SLIDER STYLES ================*/

#my-slider .item img {
	width: 100%;
}

#my-slider .slider-content {
	top: 50%;
    margin-top: -110px;
    left: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
}


#my-slider .item.active .slider-content .seo {
    color: #029AE4;
    text-transform: uppercase;
    font-weight: 900;
}

#my-slider .item .slider-content h2 {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    font-family:sans-serif;
    color: #fff;
}

#my-slider .item .slider-content h3 {
    font-size: 36px;
    font-weight: 100;
    font-family:sans-serif;
    color: #fff;
}


#my-slider .item.active .slider-content .responsive {
    color: #029AE4;
    text-transform: uppercase;
    font-weight: 900;
}

#my-slider .item.active .slider-content .logo {
    color: #029AE4;
    text-transform: uppercase;
    font-weight: 900;
}

.carousel.slide .carousel-inner .item .btn {
    color: #fff;
    background-color: #029AE4;
    opacity: 0.8;
    border: 1px solid #029AE4;
    margin-top: 50px;
    padding: 10px 25px;
    font-size: 16px;
}

/*========= FEATURED SERVICES SECTION STYLES ======*/

#feature {
    background-color: #000;
    
}

.features .text-center {
    margin-bottom: 70px;
    color: #fff;
}

section .text-center h2 {
    font-size: 30px;  
}


.features .text-center p {
    margin-bottom: 30px;
}

.features .text-center p a {
    text-decoration: none;
    color: #029AE4;
}

.features .text-center p a:hover {
    border-bottom: 1px solid #029AE4;
    padding-bottom: 3px;
}

 hr {
    width: 70px;
    border-top: 4px solid #029AE4;
}

.features .text-center hr {
    color: #1ab5fe;
     border-top: 4px solid #029AE4;
}


    
    


.features .feature-wrap i {
    font-size: 50px;
    color: #029AE4;
    border: 3px solid #333;
    border-radius: 50%;
    padding: 20px;
    background-color: #fff;
}

.features .feature-wrap h3 {
    font-size: 20px;
    color: #029AE4;
}

.features .feature-wrap p {
    
}


/*========== BUTTONS STYLES ======*/

.btn.btn-primary.login-btn {
	background: #029AE4;
	border-color: #029AE4;
}

.nav.navbar-nav li .signup-in-out {
	background-color: #029AE4;
}

.navbar-collapse .navbar-nav .dropdown-menu li a {
	margin: 0 0 5px 0;
	background-color: #333;
}

/*============ SIGN UP PAGE STYLES ============*/

.row .col-md-4.col-md-offset-4 h2 {
	margin-top: 60px;
}



/*=========== COMMUNITY PAGE STYLE ================== */


.index-header {
	padding-bottom: 40px;
	background: #029AE4;
	margin-bottom: 50px;
	opacity: 0.8;
	
}

.index-header h2 {
	margin-top: 0px;
	color: #fff;
	padding-top: 40px;
}

.row .thumbnail {
	display: block;
	height: 350px;
	padding: 0px;
	
}

.row .thumbnail img {
	width: 100%;
	height: 200px;
}

.caption .follow {
    background-color: #029AE4;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    border: 1px solid #029AE4;
}

.caption h5 {
    margin-bottom: 20px;
    color: #333;
}

.center {
    text-align: center;
}

.caption .info {
    padding: 10px 20px;
    border: 1px solid #029AE4;
    background-color: #fff;
    color: #029AE4;
    text-decoration: none;
}

.community-page {
    background-color: #EEEEEE;
}

.caption .info:hover {
    background-color: #029AE4;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

.caption .follow:hover {
    padding: 10px 20px;
    border: 1px solid #029AE4;
    background-color: #fff;
    color: #029AE4;
    text-decoration: none;
}






/*====== SHOW USER PROFILE PAGE STYLE =========== */

.main-content .btn-group {
    margin: 20px;
}

.main-content .btn-group .btn.btn-primary:hover {
    background-color: #029AE4;
}

.main-content {
    border: 3px solid #f5f5f1;
    padding: 10px;
}

.social {
    margin-top: 20px;
}

.social .fa.fa-facebook-square {
    color: #3B5998;
}

.social .fa.fa-twitter-square {
    color: #029AE4;
}

.social .fa.fa-google-plus-square {
    color: #E53935;
}





 
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);





/*======= NEW PROFILE PAGE =============*/

.bigger {
    font-size: 16px;
    font-weight: 500;
    
}




.hr-edit {
    width: 100%;
    border: 1px solid #000;
}

.btn.btn-primary {
    background-color: #029AE4;
    border-color: #029AE4;
}

input.form-control {
    border: 1px solid #333;
}

select.form-control {
    border: 1px solid #333;
}

input.form-control:focus {
     border: 2px solid #029AE4;
}

select.form-control:focus {
    border: 2px solid #029AE4;
}

textarea.form-control {
    border: 1px solid #029AE4;
}

textarea.form-control {
    border: 2px solid #029AE4;
}














