<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1><strong><span class="color">COMMUNITY PAGE</span></strong></h1>
    <p>A private community of young african entrepreneurs</p>
    <a href="#works-section" class="btn btn-success btn-lg page-scroll">Join Us</a> </div>
</header>