<div class="text-center index-header">
    <h2><%= @user.profile.first_name.capitalize %> <%= @user.profile.last_name.capitalize %></h2>
    <% if @user == current_user %>
        <%= link_to "Edit your profile", edit_user_profile_path(current_user), class: 'btn btn-primary pull-right' %>
    <% end %>
</div>

<div class="container">
    <div class="col-md-4">
        <% if @user.profile.avatar_file_name %>
            <%= image_tag @user.profile.avatar.url %>
        <% end %>
    </div>
</div>






