<div class="jumbotron">
    <div class="container text-center">
        <div class="hero-text-box">
            <h1>Welcome to ProFindr</h1>
            <h3>Here comes the social networking platform that you've been waiting for</h3>
        </div>
        
    </div>
    
</div>